.magnet {
  transform: translate3d(
      calc(var(--local-x) - var(--canvas-x)),
      calc(var(--local-y) - var(--canvas-y)),
      0
    )
    rotate(var(--rotation));
  position: absolute;
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 3px 2px black;
  user-select: none;
  cursor: grab;
  background: white;
}

body {
  --canvas-x: 0px;
  --canvas-y: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1s linear infinite;
  position: absolute;
  left: calc(50vw - 5vh);
  top: 45vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
