body {
  overflow: hidden;
  touch-action: none;
}

#door {
  --center-x: 0px;
  --center-y: 0px;
  --scale: 1;
  width: 200vw;
  height: 200vh;
  left: -50vw;
  top: -50vh;
  position: absolute;
  background-image: url("/static/background.png");
  background-position: calc(0px - var(--center-x)) calc(var(--center-y));
  background-size: 900px 600px;
  background-repeat: repeat;
  transform: scale(var(--scale));
}

#door:active {
  cursor: move;
}

.magnet {
  --x: 0px;
  --y: 0px;
  --rotation: 0deg;
  transform: translate3d(
      calc(var(--x) - var(--center-x)),
      calc(var(--center-y) - var(--y)),
      0
    )
    rotate(var(--rotation));
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: calc(4px * cos(45deg - var(--rotation)))
    calc(4px * sin(45deg - var(--rotation))) 2px rgba(0, 0, 0, 0.6);
  user-select: none;
  -webkit-user-select: none;
  cursor: grab;
  background: white;
}

.magnet:active {
  cursor: grabbing;
}

.magnet a {
  text-decoration: none;
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.magnet img {
  -webkit-user-drag: none;
}

.fake-magnet {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  --rotation: 0deg;
  rotate: var(--rotation);
  box-shadow: calc(4px * cos(45deg - var(--rotation)))
    calc(4px * sin(45deg - var(--rotation))) 2px rgba(0, 0, 0, 0.6);
  user-select: none;
  -webkit-user-select: none;
  background: white;
}

.rotate-dot {
  top: -25px;
  left: calc(50% - 6.5px);
  height: 12px;
  width: 12px;
  background-color: plum;
  position: absolute;
  border-radius: 12px;
  border: 1px solid cornsilk;
  user-select: none;
  -webkit-user-select: none;
}

.rotate-link {
  position: absolute;
  width: 1px;
  height: 11px;
  background-color: plum;
  top: -12px;
  left: calc(50% - 1px);
  border: 1px solid cornsilk;
  border-top: none;
  border-bottom: none;
}

[popover] {
  background: none;
  border: none;
}

#about-dialog {
  user-select: none;
  -webkit-user-select: none;
}

#about-bottom {
  margin-left: 40%;
  margin-top: 15px;
}

#about-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#about-button:hover {
  cursor: pointer;
}

button {
  all: unset;
}

.loader {
  border: 12px solid lightgray;
  border-top: 12px solid plum;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  -webkit-user-select: none;
  transform: translate(-50%, -50%);
  font-size: xx-large;
}
